In [14]:
import pandas as pd
import numpy as np
data=pd.read_csv("loan.txt")
data.head()

   salary  age  limit
0    4000   25  20000
1    8000   30  70000
2    5000   28  35000
3    7500   33  50000
4   12000   40  85000

In [18]:
from sklearn import linear_model
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
regr = linear_model.LinearRegression()
# X=data.ix[:,data.columns!='limit']
# y=data.ix[:,data.columns=='limit']
X=data.loc[:,data.columns!='limit']
y=data.loc[:,data.columns=='limit']
regr.fit(X,y)
a,b=regr.coef_,regr.intercept_
x=np.array([[5000,28]])
print(regr.predict(x))

[[30225.13015337]]